body {
    background-color: rgba(192, 22, 22, 0.993);
}
#h1 {
    display: flex;
    align-self: center;
    padding: top 20px;
    font-size: 80px;
    justify-content: space-around;
    gap: 20px;
}

#hideHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#button {
    display:flex;
    width: 30%;
    justify-content: center;
}

/* 
Containers  */
#container {
    background-color: rgba(163, 152, 152, 0.836);
    height:700px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#smallContainer {
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(245, 245, 245);
    width: 850px;
    height: 600px;
    border-radius: 75px;
    font-size: 50px;
    flex-direction: column-reverse;
    padding: 40px;
}


#timeIsUpBoard {
    display: none;
    align-items:center;
    justify-content: center;
    background-color: rgb(178, 184, 197);
    color: black;
    width: 850px;
    height: 600px;
    border-radius: 75px;
    font-size: 50px;
    
}






#circleContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    flex-direction: row; 
    width: 600px;
    align-content: space-around;
}


.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


/* 
Which color doesnt match ? */
#guessTheCircleHeading {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;

}

/* 
clicking the circles will either produce wrong or right answer  */
.correctAnswer1 {
    display: flex;
    width: 450px;
    height: 400px;
    border-radius: 20%;
    color: black;
    background-color: rgba(128, 128, 128, 0.288);
    font-size: 50px;
    align-items: center;
    justify-content: center;
}
.wrongAnswer1 {
    display: flex;
    width: 450px;
    height: 400px;
    border-radius: 20%;
    color: black;
    background-color: rgba(128, 128, 128, 0.288);
    font-size: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#nextLevelButton {
    width: 100px;
    height: 50px;
    font-size: 20px;
}